.CartItems{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 10px;
    padding: 10px;
}
.CartTitle{
    display: flex;
    flex-direction: column;
}
.CartPrice{
    display: flex;  
    justify-content: space-between; 
}
.MainTitle{
  font-size: 1.5rem;
  font-weight: 500;
}
.MainDis{
 font-size: 1rem;
 opacity: 0.8;
}
.CartItemD{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(237, 123, 123);
}
.Price{
    color: rgb(32, 156, 32);
    font-size: 1.5rem;
}
@media (max-width:570px) {
    .CartItems{
        width: 340px;
    }
}